<a href="https://colab.research.google.com/github/Nishanth-developer/Skillship-Tasks-DS/blob/main/Task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
d=pd.read_csv('iris.csv')
d

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [ ]:
d.isnull()

     sepal.length  sepal.width  petal.length  petal.width  variety
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [ ]:
print(d.isnull().sum().sum())

0

In [ ]:
c=d['variety'].value_counts()
print(c)

Setosa        50
Virginica     50
Versicolor    50
Name: variety, dtype: int64

**`ANS FOR TASK 2 SUB DIVISION 1`**

In [ ]:
for i in c:
  print(i,end=" ")

50 50 50

In [ ]:
d.rename(columns={'petal.length':'petal_length'},inplace=True)
d

     sepal.length  sepal.width  petal_length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

**`ANS FOR TASK 2 SUB DIVISION 2`**

In [ ]:
d1=d[(d.variety=='Virginica') & (d.petal_length>1.5)]
print(d1)

     sepal.length  sepal.width  petal_length  petal.width    variety
100           6.3          3.3           6.0          2.5  Virginica
101           5.8          2.7           5.1          1.9  Virginica
102           7.1          3.0           5.9          2.1  Virginica
103           6.3          2.9           5.6          1.8  Virginica
104           6.5          3.0           5.8          2.2  Virginica
105           7.6          3.0           6.6          2.1  Virginica
106           4.9          2.5           4.5          1.7  Virginica
107           7.3          2.9           6.3          1.8  Virginica
108           6.7          2.5           5.8          1.8  Virginica
109           7.2          3.6           6.1          2.5  Virginica
110           6.5          3.2           5.1          2.0  Virginica
111           6.4          2.7           5.3          1.9  Virginica
112           6.8          3.0           5.5          2.1  Virginica
113           5.7          2.5           5.0          2.0  Virginica
114           5.8          2.8           5.1          2.4  Virginica
115           6.4          3.2           5.3          2.3  Virginica
116           6.5          3.0           5.5          1.8  Virginica
117           7.7          3.8           6.7          2.2  Virginica
118           7.7          2.6           6.9          2.3  Virginica
119           6.0          2.2           5.0          1.5  Virginica
120           6.9          3.2           5.7          2.3  Virginica
121           5.6          2.8           4.9          2.0  Virginica
122           7.7          2.8           6.7          2.0  Virginica
123           6.3          2.7           4.9          1.8  Virginica
124           6.7          3.3           5.7          2.1  Virginica
125           7.2          3.2           6.0          1.8  Virginica
126           6.2          2.8           4.8          1.8  Virginica
127           6.1          3.0           4.9          1.8  Virginica
128           6.4          2.8           5.6          2.1  Virginica
129           7.2          3.0           5.8          1.6  Virginica
130           7.4          2.8           6.1          1.9  Virginica
131           7.9          3.8           6.4          2.0  Virginica
132           6.4          2.8           5.6          2.2  Virginica
133           6.3          2.8           5.1          1.5  Virginica
134           6.1          2.6           5.6          1.4  Virginica
135           7.7          3.0           6.1          2.3  Virginica
136           6.3          3.4           5.6          2.4  Virginica
137           6.4          3.1           5.5          1.8  Virginica
138           6.0          3.0           4.8          1.8  Virginica
139           6.9          3.1           5.4          2.1  Virginica
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [ ]:
a1=d[d.variety=='Setosa']

In [ ]:
sl1_max=max(a1['sepal.length'])
sl1_min=min(a1['sepal.length'])
sl1_avg=sum(a1['sepal.length'])/len(a1['sepal.length'])
sl1_avg=round(sl1_avg,2)

sw1_max=max(a1['sepal.width'])
sw1_min=min(a1['sepal.width'])
sw1_avg=sum(a1['sepal.width'])/len(a1['sepal.width'])
sw1_avg=round(sw1_avg,2)

pl1_max=max(a1['petal_length'])
pl1_min=min(a1['petal_length'])
pl1_avg=sum(a1['petal_length'])/len(a1['petal_length'])
pl1_avg=round(pl1_avg,2)


pw1_max=max(a1['petal.width'])
pw1_min=min(a1['petal.width'])
pw1_avg=sum(a1['petal.width'])/len(a1['petal.width'])
pw1_avg=round(pw1_avg,2)

In [ ]:
display(d.iloc[55])

sepal.length           5.7
sepal.width            2.8
petal_length           4.5
petal.width            1.3
variety         Versicolor
Name: 55, dtype: object

In [ ]:
a2=d[d.variety=='Versicolor']
a2

    sepal.length  sepal.width  petal_length  petal.width     variety
50           7.0          3.2           4.7          1.4  Versicolor
51           6.4          3.2           4.5          1.5  Versicolor
52           6.9          3.1           4.9          1.5  Versicolor
53           5.5          2.3           4.0          1.3  Versicolor
54           6.5          2.8           4.6          1.5  Versicolor
55           5.7          2.8           4.5          1.3  Versicolor
56           6.3          3.3           4.7          1.6  Versicolor
57           4.9          2.4           3.3          1.0  Versicolor
58           6.6          2.9           4.6          1.3  Versicolor
59           5.2          2.7           3.9          1.4  Versicolor
60           5.0          2.0           3.5          1.0  Versicolor
61           5.9          3.0           4.2          1.5  Versicolor
62           6.0          2.2           4.0          1.0  Versicolor
63           6.1          2.9           4.7          1.4  Versicolor
64           5.6          2.9           3.6          1.3  Versicolor
65           6.7          3.1           4.4          1.4  Versicolor
66           5.6          3.0           4.5          1.5  Versicolor
67           5.8          2.7           4.1          1.0  Versicolor
68           6.2          2.2           4.5          1.5  Versicolor
69           5.6          2.5           3.9          1.1  Versicolor
70           5.9          3.2           4.8          1.8  Versicolor
71           6.1          2.8           4.0          1.3  Versicolor
72           6.3          2.5           4.9          1.5  Versicolor
73           6.1          2.8           4.7          1.2  Versicolor
74           6.4          2.9           4.3          1.3  Versicolor
75           6.6          3.0           4.4          1.4  Versicolor
76           6.8          2.8           4.8          1.4  Versicolor
77           6.7          3.0           5.0          1.7  Versicolor
78           6.0          2.9           4.5          1.5  Versicolor
79           5.7          2.6           3.5          1.0  Versicolor
80           5.5          2.4           3.8          1.1  Versicolor
81           5.5          2.4           3.7          1.0  Versicolor
82           5.8          2.7           3.9          1.2  Versicolor
83           6.0          2.7           5.1          1.6  Versicolor
84           5.4          3.0           4.5          1.5  Versicolor
85           6.0          3.4           4.5          1.6  Versicolor
86           6.7          3.1           4.7          1.5  Versicolor
87           6.3          2.3           4.4          1.3  Versicolor
88           5.6          3.0           4.1          1.3  Versicolor
89           5.5          2.5           4.0          1.3  Versicolor
90           5.5          2.6           4.4          1.2  Versicolor
91           6.1          3.0           4.6          1.4  Versicolor
92           5.8          2.6           4.0          1.2  Versicolor
93           5.0          2.3           3.3          1.0  Versicolor
94           5.6          2.7           4.2          1.3  Versicolor
95           5.7          3.0           4.2          1.2  Versicolor
96           5.7          2.9           4.2          1.3  Versicolor
97           6.2          2.9           4.3          1.3  Versicolor
98           5.1          2.5           3.0          1.1  Versicolor
99           5.7          2.8           4.1          1.3  Versicolor

In [ ]:
sl2_max=max(a2['sepal.length'])
sl2_min=min(a2['sepal.length'])
sl2_avg=sum(a2['sepal.length'])/len(a2['sepal.length'])
sl2_avg=round(sl2_avg,2)

sw2_max=max(a2['sepal.width'])
sw2_min=min(a2['sepal.width'])
sw2_avg=sum(a2['sepal.width'])/len(a2['sepal.width'])
sw2_avg=round(sw2_avg,2)

pl2_max=max(a2['petal_length'])
pl2_min=min(a2['petal_length'])
pl2_avg=sum(a2['petal_length'])/len(a2['petal_length'])
pl2_avg=round(pl2_avg,2)


pw2_max=max(a2['petal.width'])
pw2_min=min(a2['petal.width'])
pw2_avg=sum(a2['petal.width'])/len(a2['petal.width'])
pw2_avg=round(pw2_avg,2)

In [ ]:
a3=d[d.variety=='Virginica']

In [ ]:
sl3_max=max(a3['sepal.length'])
sl3_min=min(a3['sepal.length'])
sl3_avg=sum(a3['sepal.length'])/len(a3['sepal.length'])
sl3_avg=round(sl3_avg,2)

sw3_max=max(a3['sepal.width'])
sw3_min=min(a3['sepal.width'])
sw3_avg=sum(a3['sepal.width'])/len(a3['sepal.width'])
sw3_avg=round(sw3_avg,2)

pl3_max=max(a3['petal_length'])
pl3_min=min(a3['petal_length'])
pl3_avg=sum(a3['petal_length'])/len(a3['petal_length'])
pl3_avg=round(pl3_avg,2)


pw3_max=max(a3['petal.width'])
pw3_min=min(a3['petal.width'])
pw3_avg=sum(a3['petal.width'])/len(a3['petal.width'])
pw3_avg=round(pw3_avg,2)

**`TASK 2 SUB DIVISION 3 FINAL ANSWER`**

In [ ]:
print(sl1_min,sw1_min,pl1_min,pw1_min,a1['variety'][0])
print(sl1_max,sw1_max,pl1_max,pw1_max,a1['variety'][0])
print(sl1_avg,sw1_avg,pl1_avg,pw1_avg,a1['variety'][0])

print("-----------------------------------------------")

print(sl2_min,sw2_min,pl2_min,pw2_min,a2['variety'][55])
print(sl2_max,sw2_max,pl2_max,pw2_max,a2['variety'][55])
print(sl2_avg,sw2_avg,pl2_avg,pw2_avg,a2['variety'][55])

print("-----------------------------------------------")

print(sl3_min,sw3_min,pl3_min,pw3_min,a3['variety'][110])
print(sl3_max,sw3_max,pl3_max,pw3_max,a3['variety'][110])
print(sl3_avg,sw3_avg,pl3_avg,pw3_avg,a3['variety'][110])

4.3 2.3 1.0 0.1 Setosa
5.8 4.4 1.9 0.6 Setosa
5.01 3.43 1.46 0.25 Setosa
-----------------------------------------------
4.9 2.0 3.0 1.0 Versicolor
7.0 3.4 5.1 1.8 Versicolor
5.94 2.77 4.26 1.33 Versicolor
-----------------------------------------------
4.9 2.2 4.5 1.4 Virginica
7.9 3.8 6.9 2.5 Virginica
6.59 2.97 5.55 2.03 Virginica

In [ ]:
import pandas as pd
import numpy as np
t=pd.read_csv("terrorismData.csv")
t

        Year  Month  ...                  Target_type Weapon_type
0       1970      7  ...  Private Citizens & Property     Unknown
1       1970      0  ...      Government (Diplomatic)     Unknown
2       1970      1  ...          Journalists & Media     Unknown
3       1970      1  ...      Government (Diplomatic)  Explosives
4       1970      1  ...      Government (Diplomatic)  Incendiary
...      ...    ...  ...                          ...         ...
181686  2017     12  ...                     Military    Firearms
181687  2017     12  ...                     Military  Explosives
181688  2017     12  ...  Private Citizens & Property  Incendiary
181689  2017     12  ...         Government (General)  Explosives
181690  2017     12  ...                      Unknown  Explosives

[181691 rows x 17 columns]

In [ ]:
t.drop(t[t["Day"]==0].index,inplace=True)
t.drop(t[t["Month"]==0].index,inplace=True)

In [ ]:
name_c=list(dict(t["Country"].value_counts().head(1)).keys())[0]
attack_c=list(dict(t["Country"].value_counts().head(1)).values())[0]
year=list(dict(t[(t["Country"]==name_c)]["Year"].value_counts().head(1)).keys())[0]
print(name_c,attack_c,year)

Iraq 24616 2014

In [ ]:
t1=t[(t["Year"]>2014) | ((t["Year"]==2014) & (t["Month"]>5)) | ((t["Year"]==2014) & (t["Month"]==5) & (t["Day"]>=26))]
t1

        Year  Month  ...                  Target_type Weapon_type
132357  2014      5  ...                     Military    Firearms
132450  2014      5  ...          Journalists & Media    Firearms
132451  2014      5  ...          Airports & Aircraft  Explosives
132452  2014      5  ...      Educational Institution     Unknown
132453  2014      5  ...                       Police  Explosives
...      ...    ...  ...                          ...         ...
181686  2017     12  ...                     Military    Firearms
181687  2017     12  ...                     Military  Explosives
181688  2017     12  ...  Private Citizens & Property  Incendiary
181689  2017     12  ...         Government (General)  Explosives
181690  2017     12  ...                      Unknown  Explosives

[49237 rows x 17 columns]

In [ ]:
t2=t1[t1.Country=="India"]
t2

        Year  Month  ...                  Target_type Weapon_type
132468  2014      5  ...  Private Citizens & Property  Explosives
132496  2014      5  ...      Violent Political Party    Firearms
132502  2014      5  ...      Violent Political Party  Explosives
132526  2014      5  ...                      Unknown  Explosives
132555  2014      5  ...          Journalists & Media       Melee
...      ...    ...  ...                          ...         ...
181663  2017     12  ...                       Police  Explosives
181665  2017     12  ...                     Business    Firearms
181672  2017     12  ...                       Police  Explosives
181684  2017     12  ...         Government (General)    Firearms
181689  2017     12  ...         Government (General)  Explosives

[3336 rows x 17 columns]

In [ ]:
print(len(t2))

3336

In [ ]:
t3=t2[t2["Group"]!="Unknown"]
ah=t3['Group'].value_counts()[:1].index.tolist()

In [ ]:
print(len(t2),*ah)

3336 Maoists